
{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'images/esperion.png' %}" style="height: 50px; width: 50px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Команда сезона</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'games' %}">Матчи</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{% url 'notes' %}">Заметки</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'graphql' %}">GraphQL</a>
      </li>
    </ul>
  </div>

  <span class="hello-msg">Добро пожаловать!</span>
  <span ><a  class="hello-msg" href="">Выйти</a></span>

</nav>